body {
    background-color: #808080;
}

/*-Heard-*/
.d1 {
    background-color: #696969;
    padding: 3vh;
}

.d2 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-style: italic;
    color: #fff;
}

.d3 {
    display: flex;
    font-size: 37px;
    margin-left: 180px;
    color: #E4D00A;
}

.d4 {
    margin-left: 90vh;
    display: flex;
    justify-content: center;
}

.d6 {
    display: flex;
    justify-content: end;
    font-size: 32px;
    color: #E4D00A;
    margin-right: 30px;
}

/** Fim do heard*/
/** Inicio da main */
.main1 {
    display: flex;
    align-items: center;
    margin: 100px;
    color: #fff;
}

.main2 {
    display: flex;
    justify-content: center;
    margin-right: 50vh;
    margin-top: 20px;
}

.img1 {
    display: flex;
    margin-left: 300px;
}

.maintext {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    margin-top: 55px;
}
.main6{
    display: flex;
    margin:50px;
}
.main7{
    margin-right: 15px;
}
/*-Fim da main-*/